# Rust
/target/
# Cargo.lock

# XCX Releases
/XCX_Ecosystem_v*/
/XCX_Ecosystem_v*.zip


/xcx-installer/target/
/xcx-installer/resources.o
/xcx-vscode/*.vsix
/xcx-vscode/node_modules/

# IDEs and OS
.vscode/
.DS_Store
Thumbs.db
*.sln
*.user
*.suo
*.pdb

# Temporary files
*.tmp
*.log
/Benchmarks/

# AI/Agent metadata
.agents/
.gemini/
